<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cims.mapper.UserMapper">
	<!-- ResultMap -->
	<resultMap id="UserResultMap" 
		type="com.cims.model.User">
		<id property="uid" column="uid" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="email" column="email" />
		<result property="registerTime" column="register_time" />
	</resultMap>

	<!-- Methods -->
	<select id="getByUid" 
		parameterType="long"
		resultMap="UserResultMap"
		useCache="true">
		SELECT * 
		FROM t_user 
		WHERE uid = #{uid}
	</select>

	<select id="getByUsername" 
		parameterType="String"
		resultMap="UserResultMap"
		useCache="true">
		SELECT * 
		FROM t_user 
		WHERE username = #{username}
	</select>
	
	<select id="getByEmail" 
		parameterType="String"
		resultMap="UserResultMap"
		useCache="true">
		SELECT * 
		FROM t_user 
		WHERE email = #{email}
	</select>
	
	<insert id="create" 
		parameterType="com.cims.model.User"
		flushCache="true" 
		keyProperty="uid" 
		keyColumn="uid"
		useGeneratedKeys="true">
		INSERT INTO t_user (username, password, email) 
		VALUES (#{username}, #{password}, #{email})
	</insert>
	
	<update id="update"
		parameterType="com.cims.model.User"
		flushCache="true">
		UPDATE t_user 
		SET username = #{username}, password = #{password}, email = #{email} 
		WHERE uid = #{uid}
	</update>
</mapper>